@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.peers-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* permite salto de línea si no caben */
  justify-content: center;
  align-items: flex-start;
  /* Alinea los items en la parte superior para alinear nombres */
  gap: 24px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  padding: 0 16px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 2px;
  margin-bottom: 12vh;
  box-sizing: border-box;
}

.peer-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6296bf;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
  transition: transform 0.2s ease;
}

.peer-circle:hover {
  transform: scale(1.05);
}

.peer-circle svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.peer-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #052F50;
  text-align: center;
  width: 100px;
  line-height: 1.2;
  background: none;
}

.no-peers {
  margin-top: 10vh;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  color: #052F50;
}
