@if (peers.length === 0) {
  <div class="no-peers">
    <h2>No se encuentran dispositivos cercanos a tu alrededor</h2>
  </div>
}

@for (peer of peers; track peer.id) {
  <div class="peer" (click)="selectPeer(peer)">
    <div class="peer-icon">
      <svg class="icon">
        <use [attr.xlink:href]="getIcon(peer)"></use>
      </svg>
    </div>
    <div class="peer-info">
      <div class="peer-name">{{ peer.name.displayName }}</div>
      <div class="peer-device">{{ peer.name.deviceName }}</div>
    </div>
  </div>
}
