<div class="device-list-container">
  <h2>Dispositivos en la misma red</h2>
  <ul>
    <li
      *ngFor="let device of devices"
      (click)="selectDevice(device)"
      [class.selected]="device === selectedDevice"
    >
      {{ device.name }}
    </li>
  </ul>

  <div *ngIf="selectedDevice" class="file-upload">
    <p>Enviando archivo a: <strong>{{ selectedDevice?.name }}</strong></p>
    <label for="fileInput">Seleccionar archivo</label>
  <input id="fileInput" type="file" (change)="sendFile($event)" *ngIf="selectedDevice" title="Selecciona un archivo para enviar">
  </div>
</div>
