<header class="row-reverse">
  @if (showNotification) {
    <button id="notification" title="Enable Notifications">
      <svg class="icon">
        <use xlink:href="#notifications"></use>
      </svg>
    </button>
  }
</header>

<div class="dropsend-main">
  <div class="circles-background">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>

<div class="peers-wrapper">
  <app-peerscomponent></app-peerscomponent>
</div>


  <div class="user-info">
    <div id="displayName">{{ displayName }}</div>
    <div class="discovery-info">
      Puedes ser descubierto por cualquiera que esté en esta red
    </div>
  </div>

</div>

<app-footer></app-footer>
