<header class="row-reverse">
  @if (showNotification) {
    <button id="notification" title="Enable Notifications">
      <svg class="icon">
        <use xlink:href="#notifications"></use>
      </svg>
    </button>
  }
</header>
<app-peerscomponent></app-peerscomponent>
<footer class="column">
  <svg class="icon logo">
    <use xlink:href="#wifi-tethering"></use>
  </svg>
  <div id="displayName">{{ displayName }}</div>
  <div class="font-body2">
    Puedes ser descubierto por cualquiera que esté en esta red
  </div>
</footer>
