.device-list-container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;

}

li:hover {
  background: #f0f0f0;
}

.selected {
  background-color: #007bff;
  color: white;
}

.file-upload {
  margin-top: 15px;
  text-align: center;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
}
