@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.dropsend-main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Círculos concéntricos */
.circles-background::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 1600px;
  z-index: 0;
  pointer-events: none;
  background-image:
    radial-gradient(circle at center, transparent 58px, rgba(43, 74, 142, 0.15) 59px, transparent 62px),
    radial-gradient(circle at center, transparent 108px, rgba(43, 74, 142, 0.12) 109px, transparent 112px),
    radial-gradient(circle at center, transparent 158px, rgba(43, 74, 142, 0.10) 159px, transparent 162px),
    radial-gradient(circle at center, transparent 208px, rgba(43, 74, 142, 0.08) 209px, transparent 212px),
    radial-gradient(circle at center, transparent 258px, rgba(43, 74, 142, 0.06) 259px, transparent 262px),
    radial-gradient(circle at center, transparent 308px, rgba(43, 74, 142, 0.05) 309px, transparent 312px),
    radial-gradient(circle at center, transparent 358px, rgba(43, 74, 142, 0.04) 359px, transparent 362px),
    radial-gradient(circle at center, transparent 408px, rgba(43, 74, 142, 0.03) 409px, transparent 412px),
    radial-gradient(circle at center, transparent 458px, rgba(43, 74, 142, 0.02) 459px, transparent 462px);
  background-repeat: no-repeat;
  background-position: center;
}
/* Contenedor del nombre y subtítulo */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11rem;
  z-index: 2;
  position: relative;
  bottom: 5%;
}

#displayName {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #052F50;
}

.discovery-info {
  font-family: 'Poppins';
  font-size: 13px;
  color: #003b5c;
  text-align: center;
  margin-top: 0.5rem;
}
