@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.upload-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.upload-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/fondo_selekt.png');
  background-size: contain;
  /* Muestra la imagen entera */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.12;
  z-index: 0;
}

/* Caja que envuelve el botón "+" */
.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  z-index: 1;
}

/* Botón "+" circular siempre */
.add-button {
  width: 4rem;
  aspect-ratio: 1 / 1;
  /* asegura proporción 1:1 */
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  background-color: #003b5c;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

/* Lista de archivos seleccionados */
.file-list {
  margin-top: 1rem;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #003b5c;
  z-index: 1;
}

/* Botón para subir archivos */
.upload-button {
  background-color: #003b5c;
  color: white;
  font-weight: 400;
  border: none;
  padding: 12px 32px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 27vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Enlace al álbum generado */
.album-link-box {
  margin-bottom: 10vh;
  text-align: center;
  z-index: 1;
}

.album-link-box a {
  color: #003b5c;
  font-weight: 500;
  word-break: break-word;
  text-decoration: none;
}

/* Vista previa de imágenes */
.preview-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 8px;
  z-index: 1;
}

.preview-img {
  width: 130px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
