<div class="upload-container">
  <!-- Área gris con botón "+" -->
  <div class="upload-box">
    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event)"
      multiple
      accept="image/*"
      hidden
    />
    <button class="add-button" (click)="openFileSelector()">
      +
    </button>
  </div>

  <!-- Lista de archivos seleccionados -->
  @if (files.length > 0) {
    <div class="preview-grid">
      @for (img of files; track img) {
        <img [src]="img.url" alt="preview" class="preview-img" />
      }
    </div>
  }

  <!-- Botón subir -->
<button class="upload-button" (click)="uploadPhotos()" [disabled]="isUploading">
  {{ isUploading ? 'Subiendo...' : 'Subir Archivos' }}
</button>



<app-footer />
