<div *ngIf="!albumsLoaded">
  <div>
    <label for="file">Selecciona imágenes a procesar:</label>
    <input id="file" type="file" (change)="getGalleryPhotos($event)" multiple />
    <button (click)="processImages()" [disabled]="isProcessing">Procesar imágenes</button>
  </div>

  <div *ngIf="isProcessing" class="processing-message">
    <p>Procesando...</p>
  </div>

  <div *ngIf="selectedImages.length > 0">
    <h3>Imágenes seleccionadas:</h3>
    <div class="image-container">
      <img *ngFor="let img of selectedImages" [src]="img.base64" [alt]="img.name" class="thumbnail" />
    </div>
  </div>
</div>

<div *ngIf="albumsLoaded">
  <div class="albums-container">
    <div *ngFor="let album of duplicateAlbums; let i = index" class="album" (click)="viewAlbum('duplicate', i)">
      <h2>{{ album.name }}</h2>
      <img [src]="album.coverPhoto" alt="Cover Photo" class="album-cover" />
      <div *ngIf="album.photos.length === 0">
        <p>No duplicates found!</p>
      </div>
    </div>

    <div *ngFor="let album of similarAlbums; let i = index" class="album" (click)="viewAlbum('similar', i)">
      <h2>{{ album.name }}</h2>
      <img [src]="album.coverPhoto" alt="Cover Photo" class="album-cover" />
      <div *ngIf="album.photos.length === 0">
        <p>No similar photos found!</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
