/* moodboard-display.component.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.moodboard-display {
  padding: 1.5rem;
  font-family: 'Arial', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.back {
  margin-bottom: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: #1a2b45;
  cursor: pointer;
  transition: opacity 0.2s;
}

.back:hover {
  opacity: 0.6;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.masonry {
  column-count: 2;
  column-gap: 1rem;
}

.photo {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  break-inside: avoid;
  aspect-ratio: 2/3;
  background-color: #ddd;
  transition: transform 0.3s;
}

.photo:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content img {
  display: block;
  width: 100%;
  height: auto;
}


.modal-content button {
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-content .actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modal-content button.close {
  background-color: #aaa;
}

.modal-content button.close:hover {
  background-color: #888;
}

.modal-content button.delete {
  background-color: #c0392b;
}

.modal-content button.delete:hover {
  background-color: #e74c3c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
