<div class="moodboard-display">
  <button class="back" (click)="goBack()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" fill="none">
        <path d="M8 15L1 8L8 1" stroke="#052F50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
  <h2>{{ album.name }}</h2>

  <div class="masonry">
    <div
      class="photo"
      *ngFor="let photo of album?.photos"
      [style.backgroundImage]="'url(' + photo + ')'"
      (click)="openPhoto(photo)"
    ></div>
  </div>
<!-- Modal -->
<div class="modal" *ngIf="selectedPhoto" (click)="selectedPhoto = null">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedPhoto" alt="Vista previa" />
    <div class="actions">
      <button class="close" (click)="selectedPhoto = null">Cerrar</button>
      <button class="delete" (click)="deletePhoto(selectedPhoto)">Eliminar</button>
    </div>
  </div>
</div>

</div>
