

<button (click)="goBack()" class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
      <path d="M8 15L1 8L8 1" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
  </button>

@if (albums.length > 0) {

  @for (album of albums; track album.id) {
    <div class="album-card" (click)="goToAlbum(album.code)">
      <img class="thumbnail" [src]="album.previewUrl" alt="preview" />
      <div class="album-info">
        <a
          class="album-link"
          [routerLink]="['/album', album.code]"
          (click)="$event.stopPropagation()"
        >
          <u>/upload/{{ album.code }}</u>
        </a>
        <p class="album-date">
          {{ album.created_at | date: 'dd/MM/yy' }}<br />
          {{ album.created_at | date: 'HH:mm' }}
        </p>
      </div>

      <button class="deleteAlbum" (click)="deleteAlbum(album)">
         <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 3V4H4V6H5V20C5 20.5523 5.44772 21 6 21H18C18.5523 21 19 20.5523 19 20V6H20V4H15V3H9ZM7 6H17V19H7V6ZM9 8V17H11V8H9ZM13 8V17H15V8H13Z"
              fill="white"
            />
          </svg>

      </button>
    </div>
  }
}@else {
  <div class="no-albums">
    <p>No se han encontrado álbumnes</p>
  </div>
}
