<div class="register-container">
  <div class="register-header">
     <button class="back-button" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
      <path d="M8 15L1 8L8 1" stroke="#1f6feb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
  </button>
    <div>
      <p id="wellcomeText">¡Queremos conocerte!<p>
    </div>
  </div>

  <div class="register-form-wrapper">
    <div class="register-card">
      <form id="f" (submit)="signUp(); $event.preventDefault();" class="register-form">
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="nombre"
          class="form-input"
          required
        />
        <input
          type="text"
          id="correo"
          name="correo"
          placeholder="correo electrónico"
          class="form-input"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="contraseña"
          class="form-input"
          required
        />
        <input
          type="password"
          id="rep"
          name="rep"
          placeholder="Repite la Contraseña"
          class="form-input"
          required
        />

        @if (errorMessage) {
          <div class="error-message">
            {{ errorMessage }}
          </div>
        }

        <button class="submit-button" type="submit">
          Comenzar
        </button>
      </form>

      <div class="login">
        <p>
          ¿Tienes cuenta?
            <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              INICIA SESIÓN
            </a>

        </p>
      </div>
    </div>
  </div>
</div>
