/* Fondo azul para la pantalla completa */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, #002f4b, #001a29);
  justify-content: flex-start;
  align-items: center;
  font-family: 'Poppins';
  padding-top: 6vh;
  height: 35vh;
  /* espacio superior para el texto */
}

/* Contenedor blanco con borde redondeado y superposición */
.form-container {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 2.5rem 1.5rem;
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.15);
  margin-top: 10.65vh;
  /* SUPERPOSICIÓN sobre fondo azul */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Título centrado */
.title {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #ffff;
  align-items: left;
}

/* Inputs */
form input {
  border: none;
  border-bottom: 2px solid #003b5c;
  font-size: 1rem;
  padding: 0.8rem 0;
  margin-bottom: 1.5rem;
  width: 100%;
  color: #003b5c;
  outline: none;
  font-weight: 500;
}

/* Botón */
.registrarse {
  background-color: #003b5c;
  color: white;
  font-size: 1rem;
  padding: 0.9rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
}

.registrarse:hover {
  background-color: #005a8d;
}

/* Error */
.error-message-register {
  color: #d32f2f;
  font-size: 0.9rem;
  text-align: center;
  margin-top: -1rem;
}

/* Registro link */
.registro {
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
  color: #003b5c;
}

.registro a {
  text-decoration: none;
  color: #005a8d;
}
