<div class="container">
  <div class="title">
      <p>¡Queremos conocerte!</p>
    </div>
  <div class="form-container">
    <!-- IMPORTANTE: Agrega (submit)="signUp()" en el formulario -->
    <form id="f" (submit)="signUp(); $event.preventDefault();">
      <input type="text" id="nombre" name="nombre" placeholder="nombre" required>
      <input type="text" id="correo" name="correo" placeholder="correo electrónico" required>
      <input type="password" id="password" name="password" placeholder="contraseña" required>
      <input type="password" id="rep" name="rep" placeholder="Repite la Contraseña" required>

      @if (errorMessage) {
        <div class="error-message-register">
          {{ errorMessage }}
        </div>
      }

      <!-- IMPORTANTE: Usa type="submit" para que se dispare ngSubmit -->
      <button class="registrarse" type="submit"><strong>Comenzar</strong></button>
    </form>

    <div class="registro">
      <p>
        <strong>¿YA TIENES CUENTA?
          <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            INICIAR SESION
          </a>
        </strong>
      </p>
    </div>
  </div>
</div>
