<div class="swiper-container">
  <button (click)="return()">back</button>
  <div
    *ngFor="let card of cards; let i = index"
    class="card"
    [style.backgroundImage]="'url(' + card.imageUrl + ')'"
    [style.transform]="card.transform"
    [style.opacity]="card.opacity"
    [style.zIndex]="card.zIndex"
    (mousedown)="onDragStart(i, $event)"
    (touchstart)="onDragStart(i, $event)"
  >
    <div class="card-content">
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
