@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --clr: #F62F38;
  --clr2: #052F50;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.navigation {
  height: 70px;
  background-color: #052F50;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

.navigation ul {
  display: flex;
  width: 100%;
  margin: 0 15px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 25%;
  height: 70px;
  z-index: 1;
  text-align: center;
  padding-left:9px;
  padding-right: 9px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 80px;
  font-size: 1.5em;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: white;
  margin: 0 25px;
}

.navigation ul li.active a .icon {
  transform: translateY(-35px);
    transition: transform 0.4s ease-in-out;
}

.navigation ul li a .text {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.indicator {
  position: absolute;
  left: 7%;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: #F62F38;
  border-radius: 50%;
  border: 6px solid white;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -21px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 white;
}

.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -21px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 white;
}
