@if (photos.length > 0 ) {
  <div class="album-container">
      <h2>Fotos del Álbum</h2>
    <div class="photos-grid">
    @for(photo of photos; track photo.id){
      <div class="photo-card">
        <img [src]="photo.url" [alt]="photo.filename" class="photo" />
        <p>{{ photo.filename }}</p>
      </div>
    }
    <button (click)="downloadAll()" class="download-btn">Descargar todas</button>
    </div>
  </div>
}
@else{
  <ng-template #noPhotos>
    <p class="no-photos">No se encontraron fotos para este álbum.</p>
  </ng-template>
}

