<div class="moodboard-container">
  <button class="back" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" fill="none">
        <path d="M8 15L1 8L8 1" stroke="#052F50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button>
  <h1>Moodboards</h1>

  <div *ngIf="isLoading" class="loading-message">
    <p>Procesando fotos...</p>
  </div>

  <div *ngIf="error" class="error-message">
    <p>Ocurrió un error. Intenta subir las fotos de nuevo.</p>
  </div>

  <div *ngIf="albums.length === 0 && !isLoading && !error" class="empty-message">
    <p>Sube tus fotos, estamos listos para empezar</p>
  </div>

  <div class="album-grid" *ngIf="albums.length && !isLoading">
    <div class="album-card" *ngFor="let album of albums; let i = index">
  <div
    class="cover"
    *ngIf="album.coverPhoto"
    [style.backgroundImage]="'url(' + album.coverPhoto + ')'"
     [routerLink]="['/moodboard', i]"
  ></div>
  <p class="album-title">{{ album.name }}</p>
  <div class="album-actions">
    <button (click)="renameMoodboard(album)">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M4 16.0001V20.0001L8 20.0001L18.8686 9.13146L18.8695 9.13061C19.265 8.73516 19.4628 8.53736 19.5369 8.3092C19.6021 8.10835 19.6022 7.89201 19.5369 7.69117C19.4627 7.46284 19.2646 7.26474 18.8686 6.86872L17.1288 5.12892C16.7345 4.7346 16.5369 4.53704 16.3091 4.46301C16.1082 4.39775 15.8919 4.39775 15.691 4.46301C15.463 4.53709 15.2652 4.73488 14.8704 5.12976L14.8686 5.13146L4 16.0001Z" stroke="#8199B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </button>
    <button (click)="deleteMoodboard(i)"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#8199B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg></button>
  </div>
</div>

  </div>

  <div class="upload-button" >
    <input type="file" (change)="onAddPhotos($event)"  [appGalleryProtected]="true" accept="image/*" multiple hidden #fileInput />
    <button (click)="fileInput.click()" >+</button>
  </div>
</div>
