<div class="change-container">
  <div class="change-header">
  <button class="back-button" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
      <path d="M8 15L1 8L8 1" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
  </button>
    <div>
      <div id="wellcomeText">
        <p class="usuarioText">Usuario</p>
        <p class="emailText"><u>javierlatorrecanocorreo.com</u></p>
      </div>
    </div>
  </div>

  <div class="change-form-wrapper">
    <div class="change-card">
      <form [formGroup]="form" (ngSubmit)="changePassword()" class="change-form">
        <div>
          <input type="password" formControlName="currentPassword" placeHolder="Contraseña actual" class="form-input" />
        </div>

        <div>
          <input type="password" formControlName="newPassword" placeHolder="Nueva Contraseña" class="form-input" />
        </div>

        <div>
          <input type="password" formControlName="confirmPassword" placeHolder="Repite la Nueva Contraseña" class="form-input" />
        </div>

        @if (errorMessage()) {
          <div class="error-message">{{ errorMessage() }}</div>
        }

        @if (successMessage()) {
          <div class="text-green-600">{{ successMessage() }}</div>
        }

        <button type="submit" [disabled]="loading()" class="submit-button">
          @if (loading()) {
            Cambiando...
          } @else {
            Guardar Cambios
          }
        </button>
      </form>
    </div>
  </div>
</div>
