/* Contenedor general en columnas */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.change-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.back-button{
  position: relative;
    background-color: transparent;
    border: none;
    color: white;
    bottom: 37%;
    left: 5%;
}


/* Sección superior (azul) */
.change-header {
  display: flex;
  background: linear-gradient(to bottom, #002f4b, #ae0c0c);
  text-align: left;
  color: white;
  height: 35vh;
  left: 40vh;
}

#wellcomeText {
  font-size: 20px;
  line-height: 20%;
  letter-spacing: -3%;
  top: 15vh;
  left: 7vh;
  position: absolute;
  width: 100%;
}

.usuarioText{
  font-weight: 500;
}

.emailText{
  font-size: 70%;
}

/* Sección inferior (blanca) */
.change-form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  margin-top: -3vh;
}

.change-form {
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.change-card {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem 4rem 1.5rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-input {
  border: none;
  border-bottom: 2px solid #003b5c;
  font-size: 1rem;
  padding: 0.8rem 0;
  outline: none;
  font-weight: 500;
  color: #003b5c;
  width: 32vh;
}

/* Botón */
.submit-button {
  background-color: #003b5c;
  color: white;
  font-size: 1rem;
  margin-top: 35vh;
  padding: 0.9rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
  position: fixed;
  /* quita el absolute */
}

.submit-button:hover {
  background-color: #005a8d;
}

/* Error */
.error-message {
  color: #d32f2f;
  font-size: 0.9rem;
  text-align: center;
}

/* Registro */
.login {
  position: absolute;
  margin-top: 50vh;
  text-align: center;
  font-weight: 600;
  color: #003b5c;
}

.login a {
  text-decoration: none;
  color: #005a8d;
}
