/* Contenedor general en columnas */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins';
  overflow: hidden;
}

/* Sección superior (azul) */
.login-header {
  display: flex;
  background: linear-gradient(to bottom, #002f4b, #001a29);
  text-align: left;
  color: white;
  height: 35vh;
  left: 40vh;
}

#wellcomeText {
  font-size: 20px;
  line-height: 105%;
  letter-spacing: -3%;
  top: 15vh;
  left: 6vh;
  position: absolute;
  width: 100%;
}

/* Sección inferior (blanca) */
.login-form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  margin-top: -8vh;
}

.login-form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.login-card {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem 4rem 1.5rem;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-input {
  border: none;
  border-bottom: 2px solid #003b5c;
  font-size: 1rem;
  padding: 0.8rem 0;
  outline: none;
  font-weight: 500;
  color: #003b5c;
  width: 32vh;
}

/* Placeholder azul */
.form-input::placeholder {
  color: #052F50;
  opacity: 1;
}

/* Botón */
.submit-button {
  background-color: #052F50;
  color: white;
  font-size: 1rem;
  margin-top: 28vh;
  padding: 0.9rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 75%;
  max-width: 300px;
  position: fixed;
}

.submit-button:hover {
  background-color: #005a8d;
}

/* Error */
.error-message {
  color: #d32f2f;
  font-size: 0.7rem;
  text-align: center;
  bottom: 5px;
  position: relative;
}

/* Registro */
.registro {
  position: absolute;
  margin-top: 46vh;
  text-align: center;
  color: #003b5c;
  font-size: 15px;
}

.registro a {
  text-decoration: none;
  color: #005a8d;
}
