<div class="login-container">
  <div class="login-header">
    <button class="back-button" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none">
      <path d="M8 15L1 8L8 1" stroke="#1f6feb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
  </button>
    <div>
      <p id="wellcomeText">¡Nos encanta tenerte <br> de vuelta!<p>
    </div>
  </div>
  <div class="login-form-wrapper">
    <div class="login-card">
    <form id="f" (submit)="signIn($event)" class="login-form">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Usuario"
        class="form-input"
        required
      />

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        class="form-input"
        required
      />

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }

      <button type="submit" class="submit-button">
        ¡Vamos!
      </button>
    </form>

    <div class="registro">
      <p>¿No tienes una cuenta? <a href="register">REGÍSTRATE!</a></p>
    </div>
  </div>
  </div>
</div>

