<div class="login-container">
  <div class="login-header">
    <div>
      <p id="wellcomeText">¡Nos encanta tenerte <br> de vuelta!<p>
    </div>
  </div>

  <div class="login-form-wrapper">
    <form id="f" (submit)="signIn($event)" class="login-form">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Usuario"
        class="form-input"
        required
      />

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
        class="form-input"
        required
      />

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }

      <button type="submit" class="submit-button">
        ¡Vamos!
      </button>
    </form>

    <div class="registro">
      <p>¿No tienes una cuenta? <a href="register">REGÍSTRATE!</a></p>
    </div>
  </div>
</div>
